html, body {
  padding: 0;
  margin: 0;
  background: #eee;
  overflow: hidden;
  font-family: Arial;
}

textarea, .textTest {
  width: 180px;
  height: 580px;
  padding: 10px;
  float: left;
  resize: none;
}

svg {
  width: 800px;
  height: 768px;
  border: 1px solid #999;
  background: white;
}

circle.node {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

path.link {
  fill: none;
  stroke: #999;
  stroke-width: 1.5px;
}

text {
  fill: #000;
}
